:root {
    /* Grid related var*/
    --grid-tc-12: repeat(12, 1fr);
    --grid-tc-1: repeat(1, 1fr);
    --grid-gap: calc(var(--fontSize) * 3);
}
    
    /* Normalizer */
    * {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: inherit;
        font: inherit;
        vertical-align: baseline;
    }
    
    /* Grid system */
    grid, .grid {
      display: grid;
      grid-template-columns: var(--grid-tc-12);
      grid-column-gap: var(--grid-gap);
      grid-row-gap: var(--grid-gap);
      align-content: stretch;
      align-self: stretch;
    }
    
    grid > div {
      align-self: start;
    }
    
    div[class~="cs1"] {grid-column-start: 1;}
    div[class~="cs2"] {grid-column-start: 2;}
    div[class~="cs3"] {grid-column-start: 3;}
    div[class~="cs4"] {grid-column-start: 4;}
    div[class~="cs5"] {grid-column-start: 5;}
    div[class~="cs6"] {grid-column-start: 6;}
    div[class~="cs7"] {grid-column-start: 7;}
    div[class~="cs8"] {grid-column-start: 8;}
    div[class~="cs9"] {grid-column-start: 9;}
    div[class~="cs10"] {grid-column-start: 10;}
    div[class~="cs11"] {grid-column-start: 11;}
    div[class~="cs12"] {grid-column-start: 12;}
    
    div[class~="ce1"] {grid-column-end: 2;}
    div[class~="ce2"] {grid-column-end: 3;}
    div[class~="ce3"] {grid-column-end: 4;}
    div[class~="ce4"] {grid-column-end: 5;}
    div[class~="ce5"] {grid-column-end: 6;}
    div[class~="ce6"] {grid-column-end: 7;}
    div[class~="ce7"] {grid-column-end: 8;}
    div[class~="ce8"] {grid-column-end: 9;}
    div[class~="ce9"] {grid-column-end: 10;}
    div[class~="ce10"] {grid-column-end: 11;}
    div[class~="ce11"] {grid-column-end: 12;}
    div[class~="ce12"] {grid-column-end: 13;}
    
    /* Debugging */
    
    .debug {
      background-color: lightcoral;
    }
    
    /* Media queries */ 
    
    @media only screen
    and (min-width : 1px)
    and (max-width : 1024px) {
      grid {
        grid-template-columns: var(--grid-tc-1);
      }
      grid > div[class~="cs1"], div[class~="cs2"], div[class~="cs3"], div[class~="cs4"], div[class~="cs5"], div[class~="cs6"], div[class~="cs7"], div[class~="cs8"], div[class~="cs9"], div[class~="cs10"], div[class~="cs11"], div[class~="cs12"]   {grid-column-start: 1;}
      grid > div[class~="ce1"], div[class~="ce2"], div[class~="ce3"], div[class~="ce4"], div[class~="ce5"], div[class~="ce6"], div[class~="ce7"], div[class~="ce8"], div[class~="ce9"], div[class~="ce10"], div[class~="ce11"], div[class~="ce12"]   {grid-column-end: 13;}
    
    }
    
    
    
    