:root {
  --space-s: 4px;
  --space-m: 8px;
  --space-l: 16px;
  --space-xl: 20px;
  --space-xxl: 24px;
  --space-xxxl: 32px;
  --space-xxxxl: 48px;
  --space-xxxxxl: 64px;
  --light-color: rgb(241, 241, 241);
  --dark-color: #131313;
  --accent-color: #eb5757;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  font-family: SFMono-Regular, Consolas, 'Liberation Mono', Menlo, Courier,
    monospace;
  background: var(--dark-color);
  color: var(--light-color);
  transition: all 200ms;
  will-change: background-color;
  scroll-behavior: smooth;
}

body {
  padding: var(--space-xxxxl);
}

iframe {
  width: 100%;
  height: 500px;
  border: 0;
  border-radius: 4px;
  overflow: hidden;
}

a {
  color: inherit;
  -webkit-text-decoration-line: underline; /* Safari */
  text-decoration-line: underline;
}

h3 {
  margin: var(--space-xl) 0;
}

footer {
  margin: var(--space-xxxl) 0;
}

.demo {
  border: 1px dashed var(--accent-color);
  padding: 1vw 0;
}

.demo > p {
  font-size: 24px;
  margin-bottom: 0;
  padding: 0 0 0 0.25vw;
}

grid.example {
  grid-column-gap: var(--space-l);
  grid-row-gap: var(--space-l);
}

.button-donwload {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  padding: var(--space-xxl) var(--space-xxxxl);
  border: 2px solid var(--light-color);
  background-color: transparent;
  color: var(--light-color);
  border-radius: 1rem;
  cursor: pointer;
  font-size: var(--fontSize);
  margin: var(--space-xxxl) 0;
  width: 100%;
}

.button-donwload:hover {
  background: var(--accent-color);
  border-color: currentColor;
  color: var(--dark-color);
}

.sticky {
  position: sticky;
  top: 0;
  padding: var(--space-xxxxxl) 0;
}

ul {
  margin: 0 0 0 var(--space-xxxxxl);
}

.sources {
  display: flex;
  margin: 0;
}

.sources > li {
  margin: 0 var(--space-xxxxl);
}

@media only screen and (min-width: 1px) and (max-width: 1024px) {
  grid.example {
    display: none;
  }
  .sticky {
    position: initial;
  }
}
